
Skip to content
franckdeturchedura / site_junior_esiee
Code Issues 0 Pull requests 2 Projects 0 Actions Wiki Security Pulse Community
site_junior_esiee/app/templates/

1

<!-- Ce template de mail a été inspiré de :

2

https://litmus.com/community/templates/6-ceej-new-account

3

Modifié par Rémi BOIDET Trésorier 2019-2020 -->

4

<!DOCTYPE html>

5

<html>

6

<head>

7

<title></title>

8

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

9

<meta name="viewport" content="width=device-width, initial-scale=1">

10

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

11

<style type="text/css">

12

    /* FONTS */

13

    @media screen {

14

        @font-face {

15

          font-family: 'Lato';

16

          font-style: normal;

17

          font-weight: 400;

18

          src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');

19

        }

20

        

21

        @font-face {

22

          font-family: 'Lato';

23

          font-style: normal;

24

          font-weight: 700;

25

          src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');

26

        }

27

        

28

        @font-face {

29

          font-family: 'Lato';

30

          font-style: italic;

31

          font-weight: 400;

32

          src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');

33

        }

34

        

35

        @font-face {

36

          font-family: 'Lato';

37

          font-style: italic;

38

          font-weight: 700;

@HermessNRJ
Commit changes
Commit summary
Optional extended description
Commit directly to the formulaire branch.
Create a new branch for this commit and start a pull request. Learn more about pull requests.

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

